<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D66EF7220AA499B00161EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D66EF8620AA499D00161EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D66EF9120AA499D00161EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
